.Title{
    text-align: center;
    font-family: "Kode Mono", monospace;
    color: red;
    background-color: black;
}
body{
    background-color: black;
    height: auto;
    width: auto;
    text-align: center;
}
footer{
    color: white;
}

@media (max-width: 768px) {
  .Calendar{
    width: 100%;
    height: 600;
    filter: invert(100%)
}
  }



